<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'favicon.ico'%>
  <title>Pocket theSkimm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= Time.now.strftime("%B %d, %Y") %></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

            <% if session[:access_token] %>
              <li>
                <p class="navbar-text"> <%= "You've signed in to Pocket!" %></p>
              </li>
              <li>
                <%= link_to "Sign out", signout_path %> 
              </li>
            <% else %>
              <li>
              <%= link_to 'Sign in with Pocket', '/auth/pocket/connect'%>
              </li>
            <% end %>


      </ul>
    </div>
  </div>



</nav>

<%= yield %>

  <footer class="footer">
     <div class="by-alicht"><b>Created by <%=link_to "@alicht", "https://twitter.com/alicht",target: "blank" %></b><font color="white">___</font><b>To read about the creation of Pocket theSkimm, <%= link_to "click here!", "https://medium.com/@alicht/introducing-pocket-theskimm-476f8f852d0f#.5c0s4gio0",target: "blank" %></b> </div>  
      </footer>

</body>
</html>
